# Exchange API Keys
API_KEY=ydF2VpbfH0VilZA1Wei8QiXKOoaYtTJRCdt9OINgCejIykxkEE5cxTJgbtlgFZkA
API_SECRET=nO2yuruqtwBos0JdGhvrjvCKIGPFDB1NQeAtLxUQEmBTLL9V1rP2GSPOeyCTD6XL

# Optional
EXCHANGE=binance
SYMBOL=BTC/USDT
TIMEFRAME=5m